$font-stack-1: "Varela Round", "sans-serif";
$font-stack-2: "PT Sans", "sans-serif";
$pure-black: #1d1d1f;
$pure-white: #fff;
$main-theme-color: #1dc3ff;
$sub-theme-color: rgba(201, 201, 201, 0.589);
$shadow: 2px 2px 3px rgb(56, 56, 56);

body {
    background-image: url(../img/background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    background-attachment: fixed;
    font-family: $font-stack-1;
}
