$font-stack-1: 'Varela Round', 'sans-serif';
$font-stack-2: 'PT Sans', 'sans-serif';
$my-black: #1d1d1f;
$my-white: #fff;
$my-grey: #d6d6d6;
$main-theme-color: #1dc3ff;
$sub-theme-color: #77dbff;
$shadow: 2px 2px 3px rgb(56, 56, 56);

footer {
    color: $my-black;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}