$font-stack-1: "Varela Round", "sans-serif";
$font-stack-2: "PT Sans", "sans-serif";
$my-black: #1d1d1f;
$my-white: #fff;
$my-grey: #d6d6d6;
$main-theme-color: #1dc3ff;
$sub-theme-color: #77dbff;
$shadow: 2px 2px 3px rgb(56, 56, 56);

main {
    margin: 0 40px;

    form {
        border: 1px solid $my-white;
        border-radius: 3px;
        padding: 10px;
        background-color: rgba(255, 255, 255, 0.8);
        max-width: 800px !important;
        margin: 0px auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 15px;

        input {
            line-height: 16px;
            border-radius: 6px;
        }

        #name {
            width: 90%;
            padding: 10px 10px;
            margin: 20px 20px;
        }

        #submit-btn {
            padding: 10px 10%;
            margin: 20px 80px;
            background-color: $main-theme-color;
            color: $my-white;

            &:hover {
                color: #e4e4e4;
                box-shadow: $shadow;
                cursor: pointer;
            }
        }
    }

    .results {
        margin: 2rem 0;
        display: flex;
        flex-direction: column;
        align-items: center;

        p {
            text-align: center;
            font-weight: bold;
            color: $my-black;
            font-size: 1.5rem;
        }

        .sentiments {
            min-width: 50%;

            span {
                font-weight: bold;
                font-size: 1.1rem;
            }
        }
    }

    .keys {
        color: $main-theme-color;
    }
    .values {
        color: $my-black;
        text-transform: lowercase;
    }
}
